<h1>Login</h1>
<form action="/login2" method="POST">
<input type="password"name="password" placeholder="Password">
<input type="text" name="username" placeholder="Enter Username">
<button>login</button>
</form>
<h1>This is home page</h1>
<li><a href="/register2">Sign up!</a></li>
<li><a href="/login2">Login</a></li>
<li><a href="/logout">Logout</a></li>