<html lang="en">
<head>
</head>
<body>
    <h1>Register Form</h1>
    <form action="/register2" method="POST">
         <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="number" name="age" placeholder="Enter Age">
        <input type="date" name="dob" placeholder="DateofBirth">
        <input type="email" name="email" placeholder="Enter Email">
        <button type="submit">Submit</button>
    </form>

    <h1>This is the home page</h1>
    <ul>
        <li><a href="/register2">Register Here</a></li>
        <li><a href="/login2">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</body>
</html>
