<html lang="en">
<head>
</head>
<body>
    <h1>Signup Form</h1>
    <form action="/register1" method="POST">
        <input type="password" name="password" placeholder="Password">
        <input type="number" name="idnumber" placeholder="Country_id">
        <input type="text" name="cname" placeholder="Country_name">
        <input type="date" name="dob" placeholder="DateofBirth">
        <input type="textarea" name="address" placeholder="Address">
        <button type="submit">Submit</button>
    </form>

    <h1>This is the home page</h1>
    <ul>
        <li><a href="/register1">Sign up!</a></li>
        <li><a href="/login1">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</body>
</html>
